<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="hero">
    <h1>About Us</h1>

    <p>
        AI Interview Analyzer is designed to help students
        prepare for real-world interviews using AI-based
        evaluation of knowledge, communication, and confidence.
    </p>


    <h2>Developers</h2>
    <div class="card-container">

        <div class="card">
            <h3>👨‍💻 Sai Krishna</h3>
            <p>
                📧 Mail : saikrishna@email.com <br>
                📱 Phone : +91 7396460416 <br>
                <a href="https://github.com/sai1919t">GitHub</a>
            </p>
        </div>
        <div class="card">
            <h3>👨‍💻 Onnur Bee</h3>
            <p>
                📧 Mail : dedukulaonoourbee@email.com <br>
                📱 Phone : +91 9652890664<br>
                <a href="https://github.com/onnur2711">GitHub</a>
            </p>
        </div>
        <div class="card">
            <h3>👨‍💻 Nandini</h3>
            <p>
                📧 Mail : nandini@email.com <br>
                📱 Phone : +91 7569361416<br>
                <a href="https://github.com">GitHub</a>
            </p>
        </div>
        <div class="card">
            <h3>👨‍💻 Afsana</h3>
            <p>
                📧 Mail : afsana@email.com <br>
                📱 Phone : +91 9492746316<br>
                <a href="https://github.com">GitHub</a>
            </p>
        </div>
        
    </div>
    
    <p>
        For feedback or suggestions, feel free to contact us.
    </p>
</div>

</body>
</html>