<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<div class="auth-container">

    <div class="auth-box">
        <h2>Welcome Back</h2>

        <form method="POST">

            <input type="email" name="email" placeholder="Enter Email" required>

            <input type="password" name="password" placeholder="Enter Password" required>

            <button type="submit" class="primary-btn">Login</button>

        </form>

        <div class="social-login">
            <p>Or login with</p>
            <button class="google-btn">Google</button>
            <button class="yahoo-btn">Yahoo</button>
        </div>

        <p>Don't have an account?
            <a href="/signup">Sign Up</a>
        </p>
    </div>

</div>

</body>
</html>