<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
</head>

<body>

<div class="auth-container">

    <div class="auth-box">

        <h2>Create Account</h2>

        <form method="POST" action="/signup">

            <input type="email" name="email" placeholder="Enter Email" required>

            <input type="password" name="password" placeholder="Enter Password" required>

            <input type="password" name="confirm" placeholder="Confirm Password" required>

            <button type="submit" class="primary-btn">Sign Up</button>

        </form>

        <p style="margin-top:15px;">
            Already have an account?
            <a href="/login">Login</a>
        </p>

    </div>

</div>

</body>
</html>